html{
    font-size:100%;
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    color:#B6174B;
}

a, a:visited, a:hover{
    text-decoration: none;
}

.container{

    &--padd{
            padding-top:1rem;
            padding-bottom:1rem;
    }
    max-width: 69.37rem;
    margin: 0 auto
}

// Flexbox
.flex{
    display:flex;
    &-jc-sb{
        justify-content: space-between; 
    }
    &-ai-c{
        align-items: center;
    }

    &-f-s{
        justify-content: flex-start
    }
}

