.header{

    width:100%;
    background-color:$green;

.navBar{
    font-family: 'Roboto', sans-serif;
    position: relative;
    color:$eggShell;

    &__brand{
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__logo{
            width:3.7rem;
            height:auto;
            margin-right:1.25rem;
    }

    &__links{
        position:relative;
        font-size: 1.125rem;

        a{
            color:$eggShell;
            padding:0.625rem;
            display:block;
            text-align:center;
        }

        p{
            margin-right:1.875rem;
        }
    }

    .link{
        transition: color 300ms ease-in-out;
        cursor:pointer;
        &:hover, &:focus{
            color: $champagne;

        }
    }
}

.cartIcon{
    width: 3.7rem;
    height: auto;
}



}
