//Colors
$eggShell: hsl(52, 50%, 91%);
$champagne: hsl(37, 79%, 75%);
$terracota: hsl(13, 68%, 63%);
$green: hsl(151, 24%, 60%);
$blue: hsl(234, 20%, 30%);






//Text
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-medlg: 1.25rem; // 20px
$font-medxlg: 1.875rem; // 30px
$font-lg: 2.5rem; // 40px
$font-xlg: 3.25rem; // 52px
$font-xxlg: 3.75rem; // 60px
$roboto: 'Roboto', sans-serif;
